<?xml version="1.0"?>

<model>
  <name>bowl</name>
  <version>1.0</version>
  <sdf version="1.2">bowl-1_2.sdf</sdf>
  <sdf version="1.3">bowl-1_3.sdf</sdf>
  <sdf version="1.4">bowl-1_4.sdf</sdf>
  <sdf version="1.5">bowl.sdf</sdf>

  <author>
    <name>Mihai Pomarlan</name>
    <email>blandc@cs.uni-bremen.de</email>
  </author>

  <description>
    A bowl.
  </description>
</model>
