<?xml version="1.0"?>

<model>
  <name>mug</name>
  <version>1.0</version>
  <sdf version="1.2">mug-1_2.sdf</sdf>
  <sdf version="1.3">mug-1_3.sdf</sdf>
  <sdf version="1.4">mug-1_4.sdf</sdf>
  <sdf version="1.5">mug.sdf</sdf>

  <author>
    <name>Mihai Pomarlan</name>
    <email>blandc@cs.uni-bremen.de</email>
  </author>

  <description>
    A coffee mug, waiting for a delicious beverage.
  </description>
</model>
