<?xml version="1.0"?>

<model>
  <name>milk_carton</name>
  <version>1.0</version>
  <sdf version="1.2">milk_carton-1_2.sdf</sdf>
  <sdf version="1.3">milk_carton-1_3.sdf</sdf>
  <sdf version="1.4">milk_carton-1_4.sdf</sdf>
  <sdf version="1.5">milk_carton.sdf</sdf>

  <author>
    <name>Mihai Pomarlan</name>
    <email>blandc@cs.uni-bremen.de</email>
  </author>

  <description>
    A tetrapak of milk.
  </description>
</model>
